@import "fonts.css";


/* Colors to be used later */
/*--isabelline: #f1ebe5ff;*/
/*--star-command-blue: #367ca9ff;*/
/*--dark-lava: #473c38ff;*/
/*--olive-drab-7: #423f23ff;*/

html, body, section {
    height: auto;
}

.italic-title {
    font-family: playfair-display-regular, sans-serif;
    font-weight: 400;
    font-style: italic;
    font-size: 34px;
    color: rgb(71, 60, 56);
    text-align: left;
}

.resources-text{
    font-family: playfair-display-regular, sans-serif;
    font-size: 20px;
    color: #473c38;
    text-align: left;
    padding-top: 30px;
}

.italic-title {
    font-family: playfair-display-regular, sans-serif;
    font-weight: 400;
    font-style: italic;
    font-size: 34px;
    color: rgb(71, 60, 56);
    text-align: left;
}

.uno-img {
    object-fit: cover;
}

div.about-us-spacer
{
    font-size: 0; 
    height: 85px;
    line-height: 0;
}

/* Meet the Team CSS */

/*Background Colors*/
.bg-beige{
    background-color:  #f1ebe5ff;
}

/*Font Colors*/
.text-brown{
    color: #473c38ff;
}

.text-blue{
    color: #367ca9ff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    background: black;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .content-wrapper {
    background: #f1ebe5ff;
    min-height: 600px;
    width: 1200px;
    display: flex;
    flex-direction: column;
    padding: 3rem;
    /* justify-content: space-evenly; */
    /* align-items: center; */
  }
  
  .shared-page-header,
  header {
    font-family: playfair-display-regular, sans-serif;
    font-weight: 400;
    font-size: 72px;
    line-height: 100px;
    color: rgb(54, 124, 169);
    text-align: center;
  }

  .title{
    font-family: playfair-display-regular, sans-serif;
    font-weight: 400;
    font-size: 40px;
    line-height: 100px;
    color: #473c38ff;
    text-align: center;
  }

  .memberName{
    font-family: playfair-display-regular, sans-serif;
    font-size: 15px;
    color: rgb(5, 5, 5);
    text-align: center;
  }

  .memberPosition{
    font-size: 15px;
    color: rgb(5, 5, 5);
    text-align: center;
  }
  
  .panel-wrapper {
    display: flex;
    align-items: center;
    margin-top: 10px;
    flex-flow: wrap;
  }
  .panel {
    display: flex;
    flex-direction: column;
    flex: 1;
    text-align: center;
    margin: 20px;
  }
  
  .imgFill {
    height: 140px;
    width: auto;
    border-radius: 50%;
    border: 2px solid black;
  }

  .imgBlank {
    height: 140px;
    width: auto;
  }

