.resources-text{
    width: 700 px;
    font-family: playfair-display-regular, sans-serif;
    font-size: 25px;
    color: #473c38;
    text-align: center;
    padding-bottom: 65px;
}

.div-top-padding{
    padding-top: 55px;
    width: 700px;
    margin: 0 auto;
}

a:link {
    color: #473c38;
}

.resources-container {
    /* align-items: center;
    align-content: center;
    top: 80px;
    padding-bottom: 90px;
    font-weight: 300;
    font-size: 22px;
    margin: 8px;

    position: sticky;
    top: 0;
    z-index: 100;
    display: none;
    padding-top: 10px; */
    top: 0;
    position: fixed;
}

/* Style the navbar */
#navbar {
  overflow: hidden;
  background:#fff;;
}

/* Navbar links */
#navbar a {
  float: left;
  display: block;
  color: #298ab0;
  text-align: center;
  padding: 14px;
  margin-right: 30px;
  text-decoration: none;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

div.spacer
{
    font-size: 0; 
    height: 45px;
    line-height: 0;
}

.resources-header{
  font-family: playfair-display-regular, sans-serif;
  font-weight: 400;
  font-size: 72px;
  line-height: 100px;
  color: rgb(54, 124, 169);
  text-align: center;
  padding-top: 30px;
}