@import "fonts.css";

/* Colors to be used later */
/*--isabelline: #f1ebe5ff;*/
/*--star-command-blue: #367ca9ff;*/
/*--dark-lava: #473c38ff;*/
/*--olive-drab-7: #423f23ff;*/


/*Background Colors*/
.bg-beige{
    background-color:  #f1ebe5ff;
}

/*Font Colors*/
.text-brown{
    color: #473c38ff;
}

.text-blue{
    color: #367ca9ff;
}

/*Font Properties*/

.home-text{
    color: #473c38ff;
    text-align: center;
    font-family: playfair-display-regular, sans-serif;
}

.header{
    font-size: 2.5rem;
    margin-block-start: unset;
    margin-block-end: 0.5rem;
}

.shared-page-header{
    font-family: playfair-display-regular, sans-serif;
    font-weight: 400;
    font-size: 72px;
    line-height: 100px;
    color: rgb(54, 124, 169);
    text-align: center;

}

.subheader{
    font-size: .75rem;
    text-align: center;
    margin-block-start: unset;
    margin-block-end: unset;
}

div {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container {
    display: flex;
}

.left-half {
    flex: 1;
    padding: 1rem;
}

.right-half {
    flex: 1;
    padding: 1rem;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: #298ab0;
    position: fixed;
    height: 100%;
    overflow: auto;
    font-family: 'Courier New', Courier, monospace;
    font-size: x-large;
    font-weight: 200;
  }
  
  li a {
    display: block;
    color: rgb(245, 243, 243);
    padding: 8px 16px;
    text-decoration: none;
  }
  
  li a.active {
    background-color: #04AA6D;
    color: white;
  }
  
  li a:hover:not(.active) {
    background-color: rgb(189, 191, 192);
    color: white;
  }
